.container{
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #fff;
}

.fill{
    width: 25px;
    height: 25px;

    background-color: var(--main-color);
    transition: 0.1s;
}

.none{
    width: 1px !important;
    height: 1px !important;
    transition: 0.1s;
}